@model projectpdf1.Models.Project

@{
    ViewBag.Title = "CustomerPost";
    Layout = "~/Views/Shared/_CustomerAndJE.cshtml";
}

<h2>CustomerPost</h2>


<div class="modal-content" style="width:500px !important; margin:10px auto !important">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Register Form
    </div>
    @using (Html.BeginForm("CustomerPost", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(x => x.Post_name)
                @Html.TextBoxFor(x => x.Post_name, new { @class = "form-control", id = "Post name", placeholder = "Post_name ", type = "text", required = "true" })
                @Html.ValidationMessageFor(x => x.Post_name, "", new { @class = "MessageError" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Post_content)
                @Html.TextAreaFor(x => x.Post_content, new { @class = "form-control", id = "Post_content", placeholder = "Post content", type = "text", required = "true" })
                @Html.ValidationMessageFor(x => x.Post_content, "", new { @class = "MessageError" })
            </div>
            <input type="submit" class="center-block hi btn btn-sm btn-warning" value="Post">


            @*@/*Html.LabelFor(x => x.photoFile)*/
                @/*Html.TextBoxFor(x => x.photoFile, new { type = "file", name = "image", required = "true" })*/
                @/*Html.ValidationMessageFor(x => x.photoFile, "", new { @class = "MessageError" })*@

        </div>

    }

</div>
