@model IEnumerable<projectpdf1.Models.Project>



@* @if (Convert.ToBoolean(Model.Where(x => x.Onprog_id == 4)))*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onprog_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onprog_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Project_Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Project_Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
