@model IEnumerable<projectpdf1.Models.Team>

@{
    ViewBag.Title = "ListProjectJE";
    Layout = "~/Views/Shared/_CustomerAndJE.cshtml";
}

<h2>Users List</h2>

<p>
    @Html.ActionLink("Back" ,"Index", null, new { @class = "btn btn-warning" })
</p>

<table class="table">
    <tr>



        <th>
            @Html.DisplayNameFor(model => model.U_id_PM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_id_JE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.U_id_TL)
        </th>

        <th></th>
    </tr>
    @if(Model != null) { 
        foreach (var item in Model)
        {

            <tr>

                <th>
                    @Html.DisplayFor(model => item.U_id_PM)
                </th>
                <th>
                    @Html.DisplayFor(model => item.U_id_JE)
                </th>

                <th>
                    @Html.DisplayFor(model => item.U_id_TL)
                </th>


                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.project_id }) |
                    @Html.ActionLink("LeaveProject", "LeaveProject", new { id = item.project_id }) |

                </td>
            </tr>
        }}

    
  
</table>
